gml/yleisenalueenkaytonlupahakemus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:yak="http://www.kuntatietopalvelu.fi/gml/yleisenalueenkaytonlupahakemus" xmlns:gml="http://www.opengis.net/gml" xmlns:yht="http://www.kuntatietopalvelu.fi/gml/yhteiset" targetNamespace="http://www.kuntatietopalvelu.fi/gml/yleisenalueenkaytonlupahakemus" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.0.2">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.kuntatietopalvelu.fi/gml/yhteiset" schemaLocation="http://www.kuntatietopalvelu.fi/gml/yhteiset/2.0.6/yhteiset.xsd"/>
	<!-- ================================================= -->
	<!-- Package: <<XSDschema>> yleisenalueenkaytonlupahakemus  -->
	<!-- ================================================= -->
	<!-- Kohdejoukko: yleisenalueenkaytonlupahakemus -->
	<xs:complexType name="AbstractYleisenAlueenKaytonLupaAsiaType" abstract="true">
		<xs:annotation>
			<xs:documentation>Yleisen alueen kayttolupien abstrakti kohde, josta periytetään eri lupatyypit(SIjoitus-,Työ- ja Käyttölupa)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="kasittelytiedottieto">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Kasittelytiedot" type="yht:KasittelyTiedotType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="alkuPvm" type="xs:date">
						<xs:annotation>
							<xs:documentation>Käyttöaika alkupäivämäärä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="loppuPvm" type="xs:date">
						<xs:annotation>
							<xs:documentation>Käyttöaika loppupäivämäärä</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="kiinteistotunnus" type="xs:string" minOccurs="0"/>
					<xs:element name="sijaintitieto" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Sijainti" type="yht:SijaintiType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="merkinnatJaPiirrokset" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Merkinta" type="yht:MerkintaType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="sijainninKuvaus" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Vapaamuotoinen sijainnin kuvaus</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="aluekohteidenPintaala" minOccurs="0">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="xs:double">
									<xs:attribute name="yksikko" fixed="m^2"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="hakijatieto" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Hakija" type="yht:HakijaType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="tyonsuorittajatieto" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TyonSuorittaja">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="yTunnus" type="xs:string"/>
											<xs:element name="yrityksenNimi" type="xs:string"/>
											<xs:element name="osoitetieto">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="osoite" type="yht:PostiosoiteType"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="puhelinnumero" type="xs:string"/>
											<xs:element name="sahkopostiosoite" type="xs:string" minOccurs="0"/>
											<xs:element name="suoramarkkinointikieltoKytkin" type="xs:boolean" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="vastuuhenkilotieto" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Vastuuhenkilo" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="sukunimi" type="xs:string"/>
											<xs:element name="etunimi" type="xs:string"/>
											<xs:element name="osoitetieto">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="osoite" type="yht:PostiosoiteType"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="puhelinnumero" type="xs:string"/>
											<xs:element name="sahkopostiosoite" type="xs:string" minOccurs="0"/>
											<xs:element name="suoramarkkinointikieltoKytkin" type="xs:boolean" minOccurs="0"/>
											<xs:element name="patevyystieto" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Patevyys">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="kuvaus" type="xs:string"/>
																	<xs:element name="voimassaPvm" type="xs:date" minOccurs="0"/>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="yhteyshenkilotieto">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Yhteyshenkilo" type="yht:YhteyshenkiloType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="maksajatieto">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Maksaja" type="yht:MaksajaType" minOccurs="0"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="dokumenttitieto" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Dokumentti" type="yht:LiiteDokumenttiType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="taydennyspyyntoteksti" type="xs:string" minOccurs="0"/>
					<xs:element name="lupaAsianKuvaus" type="xs:string" minOccurs="0"/>
					<xs:element name="lupakohtainenLisatietotieto" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="LupakohtainenLisatieto" type="yht:Attribuutti"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="lisatiedot" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Sijoituslupa" substitutionGroup="gml:_Feature">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="yak:AbstractYleisenAlueenKaytonLupaAsiaType">
					<xs:sequence>
						<xs:element name="kayttotarkoitus" type="yht:SijoituslupaType">
							<xs:annotation>
								<xs:documentation>Sijoitusluvan käyttötarkoitus</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tyolupa" substitutionGroup="gml:_Feature">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="yak:AbstractYleisenAlueenKaytonLupaAsiaType">
					<xs:sequence>
						<xs:element name="kayttotarkoitus" type="yht:TyolupaType">
							<xs:annotation>
								<xs:documentation>Työluvan käyttötarkoitus</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="johtoselvitysviitetieto">
							<xs:annotation>
								<xs:documentation>Teron lisäämä 2.5.2013</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Johtoselvitysviite">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="vaadittuKytkin" type="xs:boolean">
													<xs:annotation>
														<xs:documentation>Onko vaadittu johtoselvitystä</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tunniste" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Johtoselvityksen tunnistetieto</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="sijoituslupaviitetieto">
							<xs:annotation>
								<xs:documentation>Teron lisäämä 2.5.2013</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Sijoituslupaviite">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="vaadittuKytkin" type="xs:boolean">
													<xs:annotation>
														<xs:documentation>Onko vaadittu sijoituslupaa</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="tunniste" type="xs:string" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Sijoitusluvan tunnistetieto = Sijoitusluvan kasittelytiedot elementin asiatunnus ?</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Kayttolupa" substitutionGroup="gml:_Feature">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="yak:AbstractYleisenAlueenKaytonLupaAsiaType">
					<xs:sequence>
						<xs:element name="tyyppi" type="yht:KayttolupaType">
							<xs:annotation>
								<xs:documentation>Käyttöluvan tarkoitus</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
